Repository CSCfi/beacon-python, pull requests merged in 2019-11, with the labels that each got.

#134 GA4GH JWT Standard 1.0 processing with Passports
  beacon_api/api/exceptions.py
  beacon_api/conf/config.ini
  beacon_api/permissions/ga4gh.py
  beacon_api/utils/validate.py
  deploy/test/auth_test.ini
  deploy/test/integ_test.py
  deploy/test/mock_auth.py
  docs/example.rst
  docs/permissions.rst
  tests/test.ini
  tests/test_app.py
  tests/test_basic.py
  tests/test_db_load.py
  tests/test_response.py
Labels: ga4gh, testing

#135 Release 1.5.0
  .coveragerc
  Pipfile
  beacon_api/__init__.py
  beacon_api/api/exceptions.py
  beacon_api/api/info.py
  beacon_api/app.py
  beacon_api/conf/__init__.py
  beacon_api/conf/config.ini
  beacon_api/extensions/handover.py
  beacon_api/permissions/ga4gh.py
  beacon_api/utils/db_load.py
  beacon_api/utils/validate.py
  data/init.sql
  deploy/test/auth_test.ini
  deploy/test/integ_test.py
  deploy/test/mock_auth.py
  docs/deploy.rst
  docs/example.rst
  docs/instructions.rst
  docs/optionals.rst
  docs/permissions.rst
  requirements.txt
  setup.py
  tests/test.ini
  tests/test_app.py
  tests/test_basic.py
  tests/test_data_query.py
  tests/test_db_load.py
  tests/test_mate_name.py
  tests/test_response.py
  tox.ini
Labels: ga4gh, performance, release, testing

#136 Fix gunicorn version for alpine until it is resolved
  requirements.txt
  setup.py
Labels: bug

#137 Release 1.5.0-rc1
  requirements.txt
  setup.py
Labels: bug, release
